h1
{
    color: #B0413E;
}
h2
{
    text-align: center;
}

.btn
{
    text-align:center;
}

.backcolor
{
    background: linear-gradient( #80AE80,white, #57acc1);
}
.dimension_iframe
{
    width: 0px;
    height: 0px;
    border: none;
    text-align: center;
}
.app_center
{
    position: relative;
    width: 100%;
    text-align:center;
}
.app_center_no_relative
{
    position: relative;
    width: 100%;
    margin-left: 45%;
    margin-right: 45%;
}

.logo-app
{
    border: 2px;
    border-radius: 5px;
}

.form-voirie
{
    margin-top: 20px;
    padding: 5px;
    box-sizing: border-box;

}

.danger
{
    color: #B0413E;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

#en-tete
{
    margin-top: 20px;
    padding: 5px;
    box-sizing: border-box;
}