<h1> Confirmation de votre demande de voirie</h1>
<p>Bonjour,</p>
<p> Résumé de votre demande :</p>
<p> {{ date }}</p>
<p> {{ titre | raw }}</p>
<p>{{ description | raw}}</p>
<p> Merci de conserver ce mail </p>
<p>Cordialement</p>